{% extends 'base.html' %}
{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock styles %}
{% block title %}
{% endblock title %}
{% block content %}
<style>
    label{
        display: none;
    }
    input{
        border-radius: 10px;
        padding: 10px;
    }
</style>
<img src="{% static 'img/fondo-login.jpg' %}" class="bg-login" alt="background" style="object-fit: fill;">
<div class="wrapper">
    <form action="" method="post">{% csrf_token %}
        <h1>Register</h1>
        {{ form.as_p }}
        <p>
            <input type="submit" class="btn" value="Access">
        </p>
    </form>
</div>
{% endblock content %}