{% extends 'HandyFacts/base.html' %}
{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'HandyFacts/css/style.css' %}">
{% endblock styles %}
{% block title %}Handy Facts{% endblock title %}
{% block content %}
<video autoplay loop muted plays-inline class="black-video" >
    <source src="{% static 'HandyFacts/video/video.mp4' %}" type="video/mp4">
</video>
<div class="content">
    <h1>Handy Facts</h1>
    <a href="{% url 'handy-facts:houses' %}">Explore</a>
</div>
{% endblock content %}